<div class="container">
    <h1>Formulário principal</h1>

    <form class="mainForm" [formGroup]="mainForm" action="">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" placeholder="Nome" formControlName="nome">
        </div>

        <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome" formControlName="sobrenome">
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="genero">genero</label>
            <input type="text" name="genero" class="form-control" placeholder="Genero" formControlName="genero">
        </div>

        <div class="form-group">
            <label for="corFavorita">corFavorita</label>
            <input type="text" name="corFavorita" class="form-control" placeholder="CorFavorita" formControlName="corFavorita">
        </div>
    </form>

    <pre>
        {{mainForm.value | json}}
    </pre>
</div>
