<div class="container">

    <h1 [style.color]="mainForm.value.corFavorita">Formulário principal</h1>

    <form class="mainForm" [formGroup]="mainForm" action="">

        <!-- Nome -->
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" placeholder="Nome" formControlName="nome">
        </div>
        <!-- Sobrenome -->
        <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome" formControlName="sobrenome">
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="genero">Gênero</label>
            <select class="form-control" name="genero" formControlName="genero">
                <option value="">Selecione o genero</option>
                <option *ngFor="let genero of generos" [value]="genero.valor">{{genero.nome}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="corFavorita">Cor Favorita</label>
            <select class="form-control" name="corFavorita" formControlName="corFavorita">
                    <option value="">Selecione sua cor</option>
                    <option [style.backgroundColor]="cor.hex" *ngFor="let cor of cores" [value]="cor.hex">{{cor.nome}}</option>
            </select>
        </div>

        <div class="form-group">
                <label for="pais">Pais</label>
                <select class="form-control" name="pais" formControlName="pais">
                        <option value="">Selecione seu país</option>
                        <option *ngFor="let pais of paises" [value]="pais.name">{{pais.name}}</option>
                </select>
            </div>
    </form>

    <pre class="">
        <!-- {{ mainForm.value | json }}-->
        {{ paises | json }}
    </pre>
</div>
